.app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
#toast-container-main {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 9999999;
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 0.5rem;
}
.toaster-container {
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.36) 0px 0px 12px;
    color: white;
    animation: slide-in 0.5s;
    transition: all 0.5s ease;
}
@keyframes slide-in {
    from {
      transform: translateX(30px);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }

.toaster-type-content {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.toaster-close {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.info {
    background-color: blue;
}
.success {
    background-color: green;
}
.warning {
    background-color: orange;
}
.error {
    background-color: red;
}